<ion-header>

  <ion-navbar>
    <ion-title>话题</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <div *ngIf="data">
    <div class="head">
      <div class="title theme-font">{{data.title}}</div>
      <img *ngIf="data.good" class="isgood" src='assets/img/tab_ic_good.png'/>
      <div class="content clearfix">
        <span class="avatar" (click)="openUserPage(data.author.loginname)">
          <img src={{data.author.avatar_url}}/>
        </span>
        <div class="right">
          <div class="name">
            <span *ngIf="data.top" class="top">置顶</span>
            <span *ngIf="!data.top">{{tabObj[data.tab] || '全部'}}</span>
            {{data.author.loginname}}
          </div>
          <div>
            <span>{{data.create_at | amAgoTime}}创建</span>·
            <span class="count">{{data.visit_count}}次浏览</span>
          </div>
        </div>
        <span (click)="openPublish(data.id)" class="publish" *ngIf="user.loginname == data.author.loginname">
          <ion-icon name="create"></ion-icon>
        </span>
        <span (click)="toggleCollect()" class="collect">
          <ion-icon [name]="data.is_collect?'heart':'heart-outline'"></ion-icon>
        </span>
      </div>
    </div>
    <div class="body theme-border">
        <div [innerHtml]="data.content"></div>
    </div>
    <div class="foot theme-border">
        <div class="count theme-border">{{data.reply_count}}条回复</div>
        <div class="reply-list">
            <div class="reply-item theme-border" *ngFor="let reply of data.replies; let i=index">
              <div class="content clearfix">
                <span class="avatar" (click)="openUserPage(reply.author.loginname)">
                    <img [src]="reply.author.avatar_url" class="full-img"/>
                </span>
                <div class="right">
                    <div class="name">{{reply.author.loginname}}</div>
                    <div>
                        <span class="index">{{i+1}}楼</span>·
                        <span>{{reply.create_at | amAgoTime}}</span>
                    </div>
                </div>
                <div class="icon-group">
                  <span (click)="toggleReplyUps(reply.id,i)">
                    <ion-icon name="thumbs-up" [class.active]="reply.is_uped"></ion-icon>
                  </span>
                  <span class="length">{{reply.ups.length}}</span>
                  <span (click)="presentModal(reply.id,reply.author.loginname)">
                    <ion-icon name="redo"></ion-icon>
                  </span>
                </div>
              </div> 
              <div class="reply-index" *ngIf="reply.reply_index">回复：{{reply.reply_index}}楼</div>  
              <div class="title" [innerHtml]="reply.content"></div>
            </div>
        </div>
    </div>
    <ion-fab right bottom>
      <button ion-fab color="#80bd01" (click)="presentModal()"><ion-icon name="redo"></ion-icon></button>
    </ion-fab>
  </div>
</ion-content> 
