<div [class.themeDark]="themeDark">
    <ion-menu [content]="content">
        <button class="theme-button" (click)="toggleTheme()">
            <ion-icon *ngIf="!themeDark" name="moon"></ion-icon>
            <ion-icon *ngIf="themeDark" name="sunny"></ion-icon>
        </button>
        <div class="info">
            <img *ngIf="!themeDark" src="assets/img/main_nav_header_bg.png" class="bg-img"/>
            <div class="avatar" menuClose>
                <img *ngIf="user.avatar_url" [src]='user.avatar_url' (click)="openUser(user.loginname)"/>
                <img *ngIf="!user.avatar_url" src='assets/img/image_placeholder.png' (click)="openPage('login')"/>
            </div>
            <div class="loginname" menuClose>{{user.loginname || "点击头像登录"}}</div>
            <span *ngIf="user.loginname" class="logout" (click)="logout()">注销</span>
        </div>
        <div class="list">
            <button menuClose ion-item 
                *ngFor="let tab of tabs" 
                (click)="tabChange(tab.key)"
                [class.active]="tab.key==currentTab">
                <ion-icon [name]="tab.icon"></ion-icon>
                <span>{{tab.title}}</span>
            </button>
        </div>
        <div class="list">
            <button menuClose ion-item (click)="openMessage()">
                <ion-icon name="notifications"></ion-icon>
                <span>消息</span>
            </button>
            <button menuClose ion-item (click)="openPage('setting')">
                <ion-icon name="settings"></ion-icon>
                <span>设置</span>
            </button>
            <button menuClose ion-item (click)="openPage('about')">
                <ion-icon name="information-circle"></ion-icon>
                <span>关于</span>
            </button>
        </div>
    </ion-menu>

    <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
    <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</div>